<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div id="wrap">

        <div th:replace="~{fragments/admin_headerbar :: admin_headerbar}"></div>

        <div id="container">

            <div th:replace="~{fragments/admin_navbar :: admin_navbar}"></div>

            <div id="content">
                
            </div>
        </div>
    </div>
</body>
</html>