<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신규 택배</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div id="wrap">
    <div th:replace="~{fragments/admin_headerbar :: admin_headerbar}"></div>
    <div id="container">
        <div th:replace="~{fragments/admin_navbar :: admin_navbar}"></div>
        <div id="content" class="board">
            <div class="navigation">
                <p>HOME</p>
                <p>></p>
                <p>택배 관리</p>
                <p>></p>
                <p>신규 택배</p>
            </div>
            <div class="board-inner">
                <strong class="board-title">신규 택배</strong>
                <form action="/admin/delivery/list" method="GET">
                    <div class="board-search">
                        <div class="input-wrap">
                            <div>
                                <label for="name">이름</label>
                                <input type="text" name="name" id="name" class="w180">
                            </div>
                            <div>
                                <label for="number">전화번호</label>
                                <input type="text" name="number" id="number" class="w300">
                            </div>
                            <div>
                                <label for="trackingNumber">운송장 번호</label>
                                <input type="text" name="trackingNumber" id="trackingNumber" class="w300">
                            </div>
                        </div>
                        <div class="btn-wrap btn-wrap-small">
                            <button type="reset" class="btn">초기화</button>
                            <button type="submit" class="btn">검색</button>
                        </div>
                    </div>
                </form>
                <div class="board-content">
                    <div class="board-top">
                        <p>전체 : <span th:text="${totalCount}"></span>개</p>
                        <div class="btn-wrap btn-wrap-small">
                            <a href="/admin/delivery/add" class="btn">추가</a>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <table>
                            <colgroup>
                                <col style="width: 15%;">
                                <col>
                                <col style="width: 20%;">
                                <col>
                                <col style="width: 25%;">
                                <col>
                                <col style="width: 15%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>이름</th>
                                <th>전화번호</th>
                                <th>거주 구역</th>
                                <th>운송장 번호</th>
                                <th>배송 상태</th>
                                <th>알림 발송 여부</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${#lists.isEmpty(deliveries)}">
                                <td colspan="7">조회된 데이터가 없습니다.</td>
                            </tr>

                            <tr th:each="delivery : ${deliveries}">
                                <td th:text="${delivery.id}"></td>
                                <td th:text="${delivery.name}"></td>
                                <td th:text="${delivery.number}"></td>
                                <td th:text="${delivery.address}"></td>
                                <td th:text="${delivery.trackingNumber}"></td>
                                <td th:text="${delivery.status}"></td>
                                <td th:text="${delivery.notificationSent ? '발송 완료' : '발송 전'}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        <a th:if="${currentPage > 1}"
                           th:href="@{/admin/delivery/list?page=1&name=${param.name}&number=${param.number}&trackingNumber=${param.trackingNumber}}"
                           class="page-move page-prev">이전 페이지</a>

                        <th:block th:if="${totalPages != null}">
                            <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                                <a th:href="@{/admin/delivery/list?page=${i}&name=${param.name}&number=${param.number}&trackingNumber=${param.trackingNumber}}"
                                   th:text="${i}"
                                   th:classappend="${i == currentPage} ? 'now' : ''"></a>
                            </th:block>
                        </th:block>

                        <a th:if="${currentPage < totalPages}"
                           th:href="@{/admin/delivery/list?page=${totalPages}&name=${param.name}&number=${param.number}&trackingNumber=${param.trackingNumber}}"
                           class="page-move page-next">다음 페이지</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
