<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 추가</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div id="wrap">

    <div th:replace="~{fragments/admin_headerbar :: admin_headerbar}"></div>

    <div id="container">

        <div th:replace="~{fragments/admin_navbar :: admin_navbar}"></div>

        <div id="content" class="board">
            <div class="navigation">
                <p>HOME</p>
                <p>></p>
                <p>공지사항 추가</p>
            </div>
            <div class="board-inner">
                <strong class="board-title">공지사항</strong>
                <form action="/admin/notice/add" method="POST" enctype="multipart/form-data">
                    <div class="board-input write">
                        <table>
                            <colgroup>
                                <col style="width: 20%">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>제목</td>
                                <td>
                                    <input type="text" name="title" id="title" required>
                                </td>
                            </tr>
                            <tr>
                                <td>작성일</td>
                                <td>
                                    <input type="date" name="createDate" id="createDate" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td>첨부파일</td>
                                <td>
                                    <input type="file" name="attach" id="attach">
                                </td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>
                                    <textarea name="content" id="noticeContent" required></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-wrap btn-wrap-big">
                        <button type="button" class="btn" onclick="window.history.back();">취소</button>
                        <button type="submit" class="btn">저장</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;

        document.getElementById("createDate").value = today;
    };
</script>

</body>
</html>
