<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div id="wrap">

    <div th:replace="~{fragments/admin_headerbar :: admin_headerbar}"></div>

    <div id="container">

        <div th:replace="~{fragments/admin_navbar :: admin_navbar}"></div>

        <div id="content" class="board">
            <div class="navigation">
                <p>HOME</p>
                <p>></p>
                <p>공지사항</p>
            </div>
            <div class="board-inner">
                <strong class="board-title">공지사항</strong>
                <form action="/admin/notice" method="GET">
                    <div class="board-search">
                        <div class="input-wrap">
                            <div>
                                <label for="">제목</label>
                                <input type="text" name="" id="" class="w500">
                            </div>
                        </div>
                        <div class="btn-wrap btn-wrap-small">
                            <button type="button" class="btn">초기화</button>
                            <button type="button" class="btn">검색</button>
                        </div>
                    </div>
                </form>
                <div class="board-content">
                    <div class="board-top">
                        <p>전체 : <span th:text="${totalNotices}"></span>개</p>
                        <div class="btn-wrap btn-wrap-small">
                            <a href="/admin/notice/add"><button type="button" class="btn">추가</button></a>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <table>
                            <colgroup>
                                <col style="width: 15%;">
                                <col>
                                <col style="width: 25%;">
                                <col style="width: 15%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성일</th>
                                <th>첨부파일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="notice : ${notices}">
                                <td th:text="${notice.id}"></td>
                                <td>
                                    <a th:href="@{/admin/notice/detail/{id}(id=${notice.id})}" th:text="${notice.title}"></a>
                                </td>
                                <td>
                                    <span th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd')}"></span>
                                </td>
                                <td>
                                    <img th:if="${notice.attach != null}" src="/images/icon-file.svg" class="file">
                                    <span th:if="${notice.attach == null}">없음</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        <a th:href="@{/admin/notice?page=${currentPage - 1}}" class="page-move page-prev"
                           th:classappend="${currentPage == 1 || totalPages == 0 ? 'disabled' : ''}">이전 페이지</a>
                        <a th:each="i : ${#numbers.sequence(1, totalPages)}" th:href="@{/admin/notice?page=${i}}"
                           th:text="${i}" th:classappend="${i == currentPage ? 'now' : ''}"></a>
                        <a th:href="@{/admin/notice?page=${currentPage + 1}}" class="page-move page-next"
                           th:classappend="${currentPage == totalPages || totalPages == 0 ? 'disabled' : ''}">다음 페이지</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
