<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div id="wrap">

        <div th:replace="~{fragments/admin_headerbar :: admin_headerbar}"></div>

        <div id="container">

            <div th:replace="~{fragments/admin_navbar :: admin_navbar}"></div>

            <div id="content" class="board">
                <div class="navigation">
                    <p>HOME</p>
                    <p>></p>
                    <p>공지사항</p>
                </div>
                <div class="board-inner">
                    <strong class="board-title">공지사항</strong>
                    <form action="">
                        <div class="board-input write">                        
                            <table>
                                <colgroup>
                                    <col style="width: 20%">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>제목</td>
                                        <td>
                                            <input type="text" name="" id="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>작성일</td>
                                        <td>
                                            <input type="date" name="" id="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>첨부파일</td>
                                        <td>
                                            <input type="file" name="" id="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>내용</td>
                                        <td>
                                            <textarea name="" id=""></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn-wrap btn-wrap-big">
                            <button type="button" class="btn">취소</button>
                            <button type="button" class="btn">저장</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>