<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<div id="sub">

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div id="container">
        <div class="sub-title">
            <p>회원정보 수정</p>
        </div>
        <div class="wrap">
            <div class="form">
                <p class="title">회원정보 입력</p>
                <form action="/update" method="POST">

                    <div th:replace="~{fragments/editUser :: editUser}"></div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>