<div id="menu" th:fragment="admin_navbar">
    <ul>
        <li>
            <a href="/admin/main">홈</a>
        </li>
        <li>
            <a href="/admin/residents">입주민 정보</a>
        </li>
        <li>
            <a href="/admin/notice">공지사항</a>
        </li>
        <li>
            <a href="/admin/new_delivery">신규 택배</a>
        </li>
        <li>
            <a href="/admin/delivering">배송 중</a>
        </li>
        <li>
            <a href="/admin/delivered">배송 완료</a>
        </li>
        <li>
            <a href="/admin/patrol_issue">순찰 중 이상사항</a>
        </li>
    </ul>
</div>